<h1>Welcome to {{hotelName}}</h1>

<div [hidden]="hideRooms">
    Number of rooms:
    <div [ngStyle]="{'color': rooms.avalibleRooms ? 'green' : 'red'}" [innerText]="numberOfRooms"></div>
</div>

<div *ngIf="rooms.avalibleRooms <= 0">
    No rooms
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div *ngIf="rooms.avalibleRooms > 0">
    <hiapp-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hiapp-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>